<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>image</key>
	<string>playpad_gray.png</string>
	<key>image_highlight</key>
	<string>playpad_blue.png</string>
	<key>buttons</key>
	<array>
		<dict>
			<key>id</key>
			<string>Exit</string>
			<key>x</key>
			<integer>9</integer>
			<key>y</key>
			<integer>14</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>87</integer>
			<key>action</key>
			<string>[CTRL+Q]</string>
			<key>repeat</key>
			<false/>
		</dict>
		<dict>
			<key>id</key>
			<string>volume+</string>
			<key>x</key>
			<integer>110</integer>
			<key>y</key>
			<integer>14</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>87</integer>
			<key>action</key>
			<string>[UP]</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>fullscreen</string>
			<key>x</key>
			<integer>210</integer>
			<key>y</key>
			<integer>14</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>87</integer>
			<key>action</key>
			<string>[F11]</string>
			<key>repeat</key>
			<false/>
		</dict>
		<dict>
			<key>id</key>
			<string>rewind</string>
			<key>x</key>
			<integer>9</integer>
			<key>y</key>
			<integer>101</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>85</integer>
			<key>action</key>
			<string>[LEFT]</string>
			<key>repeat</key>
			<false/>
		</dict>
		<dict>
			<key>id</key>
			<string>play/pause</string>
			<key>x</key>
			<integer>110</integer>
			<key>y</key>
			<integer>101</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>85</integer>
			<key>action</key>
			<string>[SPACE]</string>
			<key>repeat</key>
			<false/>
		</dict>
		<dict>
			<key>id</key>
			<string>fast forward</string>
			<key>x</key>
			<integer>210</integer>
			<key>y</key>
			<integer>101</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>85</integer>
			<key>action</key>
			<string>[RIGHT]</string>
			<key>repeat</key>
			<false/>
		</dict>
		<dict>
			<key>id</key>
			<string>skip back</string>
			<key>x</key>
			<integer>9</integer>
			<key>y</key>
			<integer>186</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>86</integer>
			<key>action</key>
			<string>[ALT+LEFT]</string>
			<key>repeat</key>
			<false/>
		</dict>
		<dict>
			<key>id</key>
			<string>volume -</string>
			<key>x</key>
			<integer>110</integer>
			<key>y</key>
			<integer>186</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>86</integer>
			<key>action</key>
			<string>[DOWN]</string>
			<key>repeat</key>
			<false/>
		</dict>
		<dict>
			<key>id</key>
			<string>skip forward</string>
			<key>x</key>
			<integer>210</integer>
			<key>y</key>
			<integer>186</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>86</integer>
			<key>action</key>
			<string>[ALT+RIGHT]</string>
			<key>repeat</key>
			<false/>
		</dict>
		<dict>
			<key>id</key>
			<string>show desktop</string>
			<key>x</key>
			<integer>9</integer>
			<key>y</key>
			<integer>284</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>69</integer>
			<key>action</key>
			<string>[CTRL+ALT+D]</string>
			<key>repeat</key>
			<false/>
		</dict>
		<dict>
			<key>id</key>
			<string>playlist</string>
			<key>x</key>
			<integer>110</integer>
			<key>y</key>
			<integer>284</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>69</integer>
			<key>action</key>
			<string>[F9]</string>
			<key>repeat</key>
			<false/>
		</dict>
		<dict>
			<key>id</key>
			<string>macros</string>
			<key>x</key>
			<integer>210</integer>
			<key>y</key>
			<integer>284</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>69</integer>
			<key>action</key>
			<string>[MACROS]</string>
			<key>repeat</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
